html{
    scroll-behavior: smooth;
}
body{
    background-color: rgba(240, 9, 9, 0.836);
    font-family: "Nunito", sans-serif;
}
#mainNavbar{
    font-size: 1.5rem;
    text-transform: uppercase;
}
.navbar {
    background-color: rgba(0,135,62,0.685);
}

h1:hover{
    color:  white
}

.quest{
    margin: 0;
    padding:25px 25px;
}
img {
    padding-bottom: 10px;
}
.headingGroup span{
    color: rgba(0,135,62,0.685);
    font-weight: 400;
}
.headingGroup {
    text-align: center;
}
.headingGroup h1{
    font-weight: 100;
    font-size: 4rem;
}

@media only screen and (max-width: 1450px) {
    .headingGroup h1{
        font-size: 2.5rem;
    }
  }

@media only screen and (max-width: 1050px) {
    .headingGroup h1{
        font-size: 2rem;
    }
  }
  @media only screen and (max-width: 750px) {
    .headingGroup{
        padding-top: 10%;
    }
    .headingGroup h1{
        font-size: 1.5rem;
    }
  }
  @media only screen and (max-width: 575px) {
    .headingGroup{
        margin: 50px;
        font-size: 1rem;
    }
  }
